In [ ]:
B - Below
A - Above
x - For removing the cell
ctrl + Enter - executed and remin in the same cell
shft + Enter - executed and moves in the same cell

In [4]:
print("Hello world")

Hello world

In [ ]:
# for commeting a line we can use  ctrl + / for single line comment

In [ ]:
'''for multiple line commenting we can user triple inverted quottion
next lin
next to next line
'''

In [ ]:
print('hi')
# to see the description of function ue shft + tab + tab

In [ ]:
# python is case sensitive and follow indentation

In [1]:
print('Test')
print('ing')

print('Test',end="")
print('ing')

print('hi','iam','Nikesh')
print('hi','iam','Nikesh',sep = '')
print('hi','iam','Nikesh',sep='-')

Test
ing
Testing
hi iam Nikesh
hiiamNikesh
hi-iam-Nikesh

In [4]:
# Input

name = input('please enter your name: ')
print('\nwelcome',name) # \n create new line

please enter your name: Nikesh

welcome Nikesh

In [5]:
type(name)

str

In [9]:
num = eval(input('please enter number between 0 to 10: '))
print('\nsquare of the given number is' , num*num)

please enter number between 0 to 10: 5

square of the given number is 25

In [16]:
num1 = input('num1:')
num2 = input('num2:')
print(f"\nnum 1 is {num1} and num2 is {num2}")

num1:23
num2:44

num 1 is 23 and num2 is 44

In [15]:
#Boolean

t,f = True,False
print('T is',t,'F is',f)

T is True F is False

In [21]:
#string concat
h='hello'
w='world'
print(h + " " +w)

hello world

In [28]:
n=7
print(h + w +" " +str(n))

helloworld 7

In [31]:
h = 'hello w     '
print(h.capitalize())
print(h.upper())
print(h.lower())
print(h.replace('l','yell'))
print(h.strip())

Hello w
HELLO W
hello w
heyellyello w
hello w

In [ ]:
# Data structure

#list []
#tuples ()
# dictionary {key:val}
# sets {}

In [39]:
a ='one', "two"
a

('one', 'two')

In [40]:
type(a)

tuple

In [10]:
#list is order data strucutr print i same order given
#can incluse duplicate value
#index starts from zero
l = [1,3,2.3,4,5,'number',True]
l

[1, 3, 2.3, 4, 5, 'number', True]

In [47]:
type(l)

list

In [48]:
l.append('end item')
l

[1, 3, 2.3, 4, 5, 'number', True, 'end item']

In [51]:
l.insert(2,'secondval')
l

[1,
 3,
 'secondval',
 'secondval',
 'seconseval',
 2.3,
 4,
 5,
 'number',
 True,
 'end item']

In [56]:
l.pop()
l

[1, 3, 'secondval', 'secondval', 'seconseval', 2.3]

In [59]:
l.remove('secondval')
l

[1, 3, 'seconseval', 2.3]

In [61]:
l.append(True)
l

[1, 3, 'seconseval', 2.3, True, True]

In [74]:
l.append(3)
l

[2.3, True, 3, 3, 3]

In [69]:
l.pop(0)
l

[2.3, True, 3]

In [75]:
l.index(3)

2

In [5]:
B = l.copy()
B

[1, 3, 2.3, 4, 5, 'number', True]

In [6]:
#positive indexing -start with 0
#negative indexing-start with -1

In [11]:
print(B[0])

print(B[-1])

1
True

In [17]:
print('Everthing',l[:])
print('Everthing from 1st position',l[1:])
print('Everthing untill 3rd position',l[:3])
print('Between 2 md and 5 position',l[2:5])
print('Everthing except last element',l[:-1])
print('interval of 2',l[::2])
print('reverse indexing',l[-1:])
print('reverse order',l[::-1])

Everthing [1, 3, 2.3, 4, 5, 'number', True]
Everthing from 1st position [3, 2.3, 4, 5, 'number', True]
Everthing untill 3rd position [1, 3, 2.3]
Between 2 md and 5 position [2.3, 4, 5]
Everthing except last element [1, 3, 2.3, 4, 5, 'number']
interval of 2 [1, 2.3, 5, True]
reverse indexing [True]
reverse order [True, 'number', 5, 4, 2.3, 3, 1]

In [18]:
#dictionary
dict = {1:'one',1:'two'}
dict
dict[1]

{1: 'two'}

In [23]:
dict[1]

'two'

In [ ]:
#Tuples are immutable denoted as ()

In [25]:
t1 =('one','two')
t2=(1,2,3,4)
t3 = t1+ t2
t3

('one', 'two', 1, 2, 3, 4)

In [28]:
#we can not maniupulate tuple data so how we going to manipulate ?
a = list(t3)
a[0]= 'new'
t3 = tuple(a)
t3
type(t3)

tuple

In [58]:
#sets

set ={1,5,3,4,'new',5,2,0,1.1}
set

{0, 1, 1.1, 2, 3, 4, 5, 'new'}

In [52]:
set.pop()

0

set2 = {1,2,3,5}
set3 = set + set2
set3

In [59]:
set2 = {1,2,3,5}
set2
set3 = set + set2
set3

TypeError: unsupported operand type(s) for +: 'set' and 'set'